.pr3{
    height: auto;
    margin-bottom: 30px;
    border:1px solid rgb(123, 128, 129);
    background-color: rgb(123, 128, 129);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  padding: 10px;
  margin: 20px;
}
.enviar{
    border-style: none;
    background-color: rgb(123, 128, 129);
    padding: 10px 50px;
    border-radius: 5px;
    width: auto;
    max-width: 200px;
}
.enviar:hover{
    background-color: rgb(78, 80, 80);
}
.enviar:active{
    background-color: rgb(123, 128, 129);
}
.but.selecionado {
    background-color: rgb(109, 109, 109); 
  }
.resposta{
    margin: auto;
    width: auto;
    max-width: 300px;
    text-align: center;
}
html {
    scroll-behavior:unset;
  }
.botao-topo{
    text-decoration: none;
    color: black;
    padding: 10px;

}
.botao-topo:hover{
    color: blue;
}
.botao-topo:active{
    color: black;
}
.texto2{
    text-align: center;
}

@media (max-width: 730px){
    .pergunta{
        font-size: 10px;
    }
    .texto{
        font-size: 12px;
    }
    h1{
        font-size: 15px;
    }
    .resposta{
        font-size: 10px;
    }
    .barr h1{
        font-size: 12px;
    }
   
}